<ul>
  <li *ngFor="let folder of folders"><a (click)="listar(folder.entry.id)" style="cursor: pointer;" > {{ folder.entry.name }} </a></li>
</ul>

<ul>
  <li *ngFor="let document of documents">
    {{ document.entry.name }} 
  </li>
</ul>